<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task 1.03</title>
</head>
<body>
<article>
    <p><a href="/">&lt;&lt;&lt;</a></p>
    <hr>
    <h1>Task 1.03</h1>
    <section>
        <h2>Condition</h2>
        <p>Create three variables containing the ages of the three nearest neighbors.</p>
        <p>Find the amount and display it on the screen.</p>
        <p>
            Create another variable,
            equal to the arithmetic mean age,
            and display this value on the screen.
        </p>
        <form>
            <p>
                <label for="id_age1">Nearest neighbor 1:</label>
                <input id="id_age1" name="age1" placeholder="20" type="number" value="{age1}">
            </p>
            <p>
                <label for="id_age2">Nearest neighbor 2:</label>
                <input id="id_age2" name="age2" placeholder="30" type="number" value="{age2}">
            </p>
            <p>
                <label for="id_age3">Nearest neighbor 3:</label>
                <input id="id_age3" name="age3" placeholder="40" type="number" value="{age3}">
            </p>
            <button type="submit">Execute</button>
        </form>
    </section>
    <section>
        <h2>Result</h2>
        <p>Ages: {ages}</p>
        <p>Sum: {age_sum}</p>
        <p>Average: {age_avg:.1f}</p>
    </section>
</article>
</body>
</html>