<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Z43</title>
</head>
<body>
<article>
    <h1>Z43: {random_number}</h1>
    <section>
        <h2>Задачи</h2>
        <ul>
            <li>
                <p>Урок 1</p>
                <ul>
                    <li><a href="/tasks/lesson01/task103.html/">Задача 1.03</a></li>
                </ul>
            </li>
            <li>
                <p>Урок 3</p>
                <ul>
                    <li><a href="/tasks/lesson03/task301.html/">Задача 3.01</a></li>
                    <li><a href="/tasks/lesson03/task302.html/">Задача 3.02</a></li>
                    <li><a href="/tasks/lesson03/task303.html/">Задача 3.03</a></li>
                    <li><a href="/tasks/lesson03/task304.html/">Задача 3.04</a></li>
                    <li><a href="/tasks/lesson03/task305.html/">Задача 3.05</a></li>
                    <li><a href="/tasks/lesson03/task306.html/">Задача 3.06</a></li>
                    <li><a href="/tasks/lesson03/task307.html/">Задача 3.07</a></li>
                    <li><a href="/tasks/lesson03/task309.html/">Задача 3.09</a></li>
                    <li><a href="/tasks/lesson03/task310.html/">Задача 3.10</a></li>
                    <li><a href="/tasks/lesson03/task311.html/">Задача 3.11</a></li>
                    <li><a href="/tasks/lesson04/task402.html/">Задача 4.02</a></li>
                </ul>
            </li>
            <li>
                <p>Урок 4</p>
                <ul>
                    <li><a href="/tasks/402/">Задача 4.02</a></li>
                </ul>
            </li>
        </ul>
    </section>
</article>
</body>
</html>